.portada{
    height: 60vh;
    background-image: url("honolulu.jpg");
    background-size: cover;
    color: white;
}

#transportes img{
    height: 100px;
}

#galeria .carousel-item{
    height: 300px;
}

#galeria img{
    height: 300px;
    width: 100px;
}